@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
 font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

aside a.active span{
  color:white;
  background-color: #ef4444;
}
/* category Nav */
 a.active .cat{
  color:white;
  background-color: #ef4444;
}

section{
 grid-column-start: 3;
 grid-column: 1/-1; 
 min-height: 95vh;
 margin-top: 25px;
}


.card:before{
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:0;
  height:0;
  border-radius: 6px;
  background-color:#fff;
  transition: 0.5s ease-in-out;
  z-index: -1;


}

.card:hover:before{
  width:100%;
  height:100%;
}


/* animations */

 @-webkit-keyframes flashing {
  0%,
40% {
  opacity: 1;
}

100% {
  opacity: 0;
  width: 200%;
  height: 200%;
}
 }

 @keyframes flashing {
  0%,
40% {
  opacity: 1;
}

100% {
  opacity: 0;
  width: 200%;
  height: 200%;
}
 }

     figure .animation:before {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 0;
         height: 0;
         background-color: rgb(255 255 255/ 50%);
         z-index: 2;
       }
  
       figure .animation:hover:before {
         -webkit-animation: flashing 0.7s;
                 animation: flashing 0.7s;
       }

/* animations */


